body, html {
    box-sizing: border-box;
    width: 100%;
    text-overflow: inherit;
}

body {
    display: inherit;
    margin: 0;
    padding: 0;
    overflow: ellipsis;
}

div {
    display: inherit;
    box-sizing: border-box;
}


.main {
    font-family: "游ゴシック";
    font-size: 12px;
    color: #fff;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: minmax(150px, 20%) 1fr minmax(150px, 20%);
    grid-template-rows: auto;
    grid-template-areas: "leftArea centerArea rightArea";
}

.master {

}

.left-bar {
    background-color: #0F2540;
    overflow: hidden;
    grid-area: leftArea;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto 60px;
    grid-template-areas: "leftTop"
                        "leftMiddle"
                        "leftBottom";
}

    .left-bar-header {
        font-size: 25px;
        background-color: #FF0;
        grid-area: leftTop;
    }

    .left-bar-main {
        grid-area: leftMiddle;
        position: relative;
    }
        .scroll-area {
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0px;
            bottom: 0;
            height: 100%;
        }
        .channel-list {
            font-size: 20px;

        }

        .child-channel-list {
            padding-left: 0.25em;
        }

        .channel {
            
        }

        .drop-channel-list-bottom {

        }
        .channel-name{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-left: 0.5em;
        }

    .left-bottom {
        background-color: #F00;
        grid-area: leftBottom;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .menu {
        display: flex;
        justify-content: space-around;
    }
        .menu-icon {
            max-height: 50px;
            padding-top: 5px;
        }

.center-area {
    background-color: #08192D;
    grid-area: centerArea;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "center-header"
                         "chat-area";
}

    .center-header {
        background-color: #999;
        font-size: 20px;
        grid-area: center-header;
    }


        .kari {
            
        }
    
    .chat-area {
        grid-area: chat-area;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 100px;
        grid-template-areas: "chat-container"
                             "chat-form";
    }

    .chat-container {
        grid-area: chat-container;
        position: relative;
        display: block;
    }
    .message-area {
        padding: 0px 0px;

        width: 100%;
    }

    .message-set {
        width: 100%;
    }

    .chat-gutter {
        padding: 0px 0px;
        display: flex;
        width: 100%;
    }
        .chat-contents-left {
            flex-shrink: 0;
            padding-right: 5px;
        }
            .user-icon {
                height: 48px;
                width: 48px;
                margin: 0;
                padding: 0;
                line-height: initial;
                overflow: initial;
                text-align: initial;
                text-align: initial;
            }
        
        .chat-contents-right {
            display: block;
            padding-right: 8px;
        }

            .user-info {

            }

                .user-name {
                    font-size: 14px;
                }

                .post-time {
                    font-size: 8px;
                }

            .chat-text {
                font-size: 12px;
                text-overflow: ellipsis;
                white-space: pre-line;
            }

            .message-mentions {

            }

                .emoji-mention {

                }
                
                    .emoji-icon {
                        height: 16px;
                        width: 16px;
                    }
            

        .day-border{
            
        }
        .day-border:before,
        .day-border:after {
            content: "";
            height: 1px;
            background-color: #e0e0e0;
        }
        .day-border:before{
            margin-right: 1em;
        }
        .day-border:after {
            margin-left: 1em
        }

/*
    .chat-form{
        grid-area: chat-area;
        font-size: 20px;
        grid-area: centerBottom;
        background-color: aquamarine;
        display: inline;
    }
*/
        .chat-form {
            grid-area: chat-form;
            display: grid;
            box-sizing: border-box;
            grid-template-columns: 1fr 80px;
            grid-template-rows: 100%;
            grid-template-areas: "chat-input chat-button";
        }
            .chat-input {
                grid-area: "chat-input";
            }

            .chat-button {
                padding: 2px;
                font-size: 10px;
                grid-area: "chat-button";
            }

.right-bar{
    background-color: #0F2540;
    grid-area: rightArea;
    overflow: hidden;
}