.container {
  padding: 2em;
  display: inline-flex;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr minmax(150px, 20%);
  grid-template-rows: auto;
  grid-template-areas: "leftArea centerArea rightArea";
  justify-content: space-around;
}

.center-area {
  grid-area: centerArea;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 13em;
  line-height: 2em;
}

.box1{
  border: solid 2px black;
  padding: 0em 2em;
  padding-top: 0.5em;
  width: 86%;
  max-width: 390px;
  background-color: #33CCFF;
  border-radius:   1em;

}

.box2{
  border: solid 1px black;
  padding: 2em;
  margin-top: 1.5em;
  width: 85%;
  max-width: 320px;
  background-color: #FFFFFC;
  border-radius:   1em;

}

.box3 {
  background: #fff;
  width: 7em;
  padding: 0.4em;
  margin: 1em 2.5em;
  font-weight: nomal;
  border: solid 1px #000000;
}
.box3 p {
    margin: 0; 
    padding: 0;
}

.statu{
  font-size: x-large;
  color: white;
}
